.item {
    display: flex;
    flex-direction: column;
    border: 1px #0096FF solid;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    height: 300px;
    padding: 1.6em;
    margin: 0.8em;
    border-radius: 3%;
    transition: 0.3s;
}



.item:hover {
    background-color: #fff;
    border: #e33d33 1px solid;
}

.item h4 {
    display: flex;
    flex-wrap: wrap;
}

.item_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4px;
    gap: 0.5em;
}

.item_description h5 {
    font-size: medium;
}


.glow_on_hover {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 7em;
    height: 2em;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    
}

.glow_on_hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow_on_hover:active {
    color: #000
}

.glow_on_hover:active:after {
    background: transparent;
}

.glow_on_hover:hover:before {
    opacity: 1;
}

.glow_on_hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0096FF;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}