.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #003C66;
    height: 5em;
    color: #FF9800;
    margin-top: 2em;
    padding: 0.8em 0;
    
  }
  
  .footer span {
    font-weight: bold;
  }

  .social {
    display: flex;
    justify-content: space-around;
    gap: 2em;
    
  }

  .social li {
    list-style: none;
  }

  .social a {
    color: #000;
  }